/* Reset */
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Catalogo */
div.catalogo,
div.offers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.price {
    font-size: 1.2em;
    width: 30%;
    color: #39b54a;
}

.discount {
    width: 70%;
    font-size: 1.1em;
    font-weight: bold;
    color: #e74c3c;
}

h3, .description {
    color: #666;
}

.description {
    display: none;
    margin-top: 10px;
}

/* Main */
main {
    width: 90%;
    margin: 20px auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main section article:hover {
    transform: translateY(-5px);
}

main section article img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-bottom: 1px solid #ebebeb;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: bold;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    height: 100%;
}

/* Media Queries */
@media (min-width: 361px) {
    main section article .description {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.1);
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article {
        width: 45%;
    }

    .price, .discount {
        width: 50%;
    }
}

@media (min-width: 769px) {
    main section div.products article {
        width: 22%;
    }
}

/* Producto Detalle */
body {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 1rem;
    background-color: #f4f4f4;
    background-image: url(/img/HebraLibreFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.productos {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.products_principal {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.contenido_producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/* Estilo para la imagen principal */
.products_principal img {
    width: 100%;
    max-width: 580px;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.products_principal img:hover {
    transform: scale(1.05);
}

.titulo {
    font-size: 2em;
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo para el texto de descripción */
.descrpcion_producto {
    max-width: 100%;
    font-size: 1rem;
    text-align: justify; 
    font-family: 'Lora', serif;
    margin: 10px 0;
}

/* Estilo para las imágenes adicionales */
.imagenes-adicionales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.imagenes-adicionales img {
    width: 30%;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.imagenes-adicionales img:hover {
    transform: scale(1.1);
}

.imgPrinc-carrito {
    position: relative;
    margin-top: 20px;
}

.icono-truck {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 10px;
    border-radius: 50%; 
    border-color: #39b54a;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: 2px solid #39b54a;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icono-truck i {
    font-size: 1.5em;
    color: #39b54a;
}

.icono-truck:hover {
    background-color: #39b54a;
    color: #fff;
}

/* Estilo para los botones */
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar-eliminar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.agregar {
    display: inline-block;
    align-items: left;
}

.botones button,
.botones a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f5c597;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 200px;
    height: 50px;
}

.botones button:hover,
.botones a:hover {
    background-color: #45a049;
    color: white;
}

/* Ajustes para los botones en dispositivos pequeños */
@media screen and (max-width: 600px) {
    .botones button,
    .botones a {
        width: 100%;
    }
}

/* Media Query para pantallas pequeñas */
@media (min-width: 361px) and (max-width: 789px) {
    .products_principal img {
        width: 100vw; 
        max-width: 90vw;  
        height: auto;
        cursor: pointer;
        margin-bottom: 1.5vw;
        padding: 1vw;        
        border-radius: 8px;
        transition: transform 0.3s ease;
    }
    
    .products_principal img:hover {
        transform: scale(1.05);
    }

    .products_principal {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding: 10px;
    }
   
    .contenido_producto {
        justify-content: center;
        align-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
   
    .imagenes-adicionales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 85%;
        height: auto;
        cursor: pointer;
        margin: 5px; 
        gap: 10px;
    }

    .imagenes-adicionales img {
        width: 30%;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .imagenes-adicionales img:hover {
        transform: scale(1.05)
    }


    .products_principal {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        padding: 10px;
    }
   
    .contenido_producto {
        justify-content: center;
        align-content: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
   
    .imagenes-adicionales {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 85%;
        height: auto;
        cursor: pointer;
        margin: 5px; 
        gap: 10px;
    }

    .imagenes-adicionales img {
        width: 30%;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .imagenes-adicionales img:hover {
        transform: scale(1.1);
    }
   
    .descrpcion_producto {
        font-size: 1rem; 
        margin: 10px 0;
    }
}

/* Media Query para pantallas grandes */
@media (min-width: 790px) {
    .imagenes-adicionales {
        display: flex;
        justify-content: flex-start; 
        align-items: flex-start;
        padding-left: 5px;
    }

    .imagenes-adicionales img {
        width: 14%;    
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    .imagenes-adicionales img:hover {
        transform: scale(1.1);
    }

    .icono-truck {
        top: 20px;
        right: 20px;
        padding: 10px;
        border-radius: 50%; 
        border-color: #39b54a;
        background-color: #fff; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        border: 2px solid #39b54a;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .icono-truck i {
        font-size: 1.5em;
        color: #39b54a;
    }

    .icono-truck:hover {
        background-color: #39b54a;
        color: #fff;
    }
}

/* Estilo para los botones */
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editar-eliminar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.agregar {
    display: inline-block;
    align-items: left;
}

.botones button,
.botones a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f5c597;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 200px;
    height: 50px;
}

.botones button:hover,
.botones a:hover {
    background-color: #ba0101;
    color: white;
}

/* Ajustes para los botones en dispositivos pequeños */
@media screen and (max-width: 600px) {
    .botones button,
    .botones a {
        width: 100%;
    }
}
