*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Header-----------*/

header{
    background-color: #f5c597;
    
    border-bottom: solid 4px #d0b6b7;
  }
   
  header .redes i{
    color: #859bb2;
    font-size: 20px;
    margin-right: 25px;
    border: #d0b6b7 solid .5px;
    border-radius:30%;
    padding: 4px;
    box-shadow: 1px 1px 1px #859bb2;
  }
  
  .nav-bar{
    display: flex;
    justify-content: center;
  }
  
  .enlaces-contenedor{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
  }

  .redes{
    margin-right: 113px;
    margin-left: 15px;
  }

  .enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .enlaces a{
    text-decoration: none;
    color: #859bb2;
  }

  .enlaces i{
    color: #859bb2;
  }

  .enlaces i:hover{
    color: white;
  }
  
  .logo{
    width: 190px;
    height: 190px;
    text-align: center;
  }

  header div .burger-menu{
    display: none;
  }


  /*---------fuente de los links del menu----------*/
  a {
    font-family: sans-serif, 'Roboto';
    font-size: 20px;
  }
  
  
  footer{
    background-color:white;
    margin-bottom: 10px;
    border-top: solid 4px #d0b6b7;
    padding-top: 25px;
    padding-bottom: 10px;
    
  }
  
  footer h5{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #cac2c0;
    font-family: 'Roboto', sans-serif;
  }

  @media (max-width: 767px){
    header .media{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  
    header div .enlaces{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
   
    header div .enlaces a:link, a:visited, a:active{
      text-decoration: none;
      /* Se pone oculto hasta que se vincule con el logo*/
      display: none;
    }

    header div .redes{
      position: inherit;
      display: flex;
      padding-bottom: 1px;
      width: 100%;
      justify-content: end;
    }



    header div .burger-menu{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  header div .burger-menu .fa-bars{
    margin: 6px;
    font-size: 22px;
  }


}
  @media (min-width: 768px){
    header div .enlaces a{
      padding: 0px 17px;
    }

    header div .enlaces a:hover {
      background-color: #859bb2;
      border-radius: 5px;
      color: white;
    }

    .redes a i:hover{
      background-color: #859bb2;
      border-radius: 5px;
      color: white;
      border: none;
    }

  }