<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Catalogo de productos</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">      
            <link rel="stylesheet" href="/css/catalogoProducto.css">
    
            <link href="/css/header-footer.css" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <section class="catalogo" > 
            <h3>Productos principales</h3>
            <div class="products">
                <article>
                    <a href="/productos/producto">
                        <img src="/img/img_sec1.webp" alt="producto_1" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.00</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_1</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/img/img_sec2.webp" alt="producto_2" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.000</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_2</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                         <img src="/img/img_sec3.webp" alt="producto_3" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="/producto">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.00</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_3</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                         <img src="/img/logo-hebralibre.png" alt="producto_4" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.00</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_4</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <a href="#">
                         <img src="/img/HebraLibre-BordadoEnPaleta.jpeg" alt="producto_oferta_1" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.00</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_oferta_1</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/img/HebraLibre-BordadoFlor.jpeg" alt="producto_oferta_2" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.000</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_oferta_2</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                        <img src="/img/HebraLibre-collar.jpeg" alt="producto_oferta_3" class="product_img"/>
                    </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.500</p>
                        <p class="discount">0% off</p>
                    <h4 class="description">producto_oferta_3</h4>
                    </div>
                </article>
                <article>
                    <a href="#">
                          <img src="/img/HebraLibre-pachamama.jpeg" alt="producto_oferta_4" class="product_img"/>
                     </a>
                    <div class="main-article">
                        <a href="#"> <i class="fas fa-truck"></i> </a>
                        <p class="price">$0.00</p>
                        <p class="discount">0% off</p>
                        <h4 class="description">producto_oferta_4</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>
    <%- include('./partials/footer.ejs')%>        
</body>
</html>