<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="/css/header-footer.css" rel="stylesheet">
    <link rel="stylesheet"  href="/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <script src="https:kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./partials/header.ejs')%>

  <div class="container-form">

    <div class="info-form">
      <h2>Contáctanos</h2>
      <p>Gracias por ponerse en contacto con nosotros. Apreciamos su interés y nos esforzamos por responder
         a todas las consultas lo más rápido posible. Su satisfacción es nuestra prioridad, y nos pondremos en
          contacto con usted en breve. ¡Gracias por elegirnos y confiar en nuestros servicios!</p>
      <a href="#"><i class="fa fa-phone"></i>3884175520</a>
      <a href="#"><i class="fa fa-envelope"></i>hebralibre@gmail.com</a>
      <a href="#"><i class="fa fa-map-marked"></i>Jujuy, Argentina</a>
    </div>
    <!-- action="#" method="POST" -->
    <form  autocomplete="off">
      <span class="errores-contact" id="error-name"></span>
      <input type="text" name="name" placeholder="Nombre" class="campo">
      <span class="errores-contact" id="error-email"></span>
      <input type="email" name="mail" placeholder="Email" class="campo">
      <span class="errores-contact" id="error-mensaje"></span>
      <textarea name="mensaje" placeholder="Ingresa tu mensaje..."></textarea>
      <div class="cont-btn">
        <button type="submit" class="btn-enviar">Enviar</button>
      </div>
     
      <!--input type="submit" name="enviar" value="Enviar" class="btn-enviar"-->
    </form>

    <script src="js/validacionContanct.js"></script>
  </div> 
  <%- include('./partials/footer.ejs')%>   
</body>
</html>