<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Productos</title>

    <link rel="stylesheet"  href="/css/formAltaProducto.css">
    <link href="/css/header-footer.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <%- include('./partials/header.ejs')%>

    <div class="contenedor">

        <h4>Alta de Producto</h4>
    
        <form action="/productos/create" method="POST" class="formulario">
            <div class="campo">
                <label for="name">Nombre del Producto:</label>
                <input type="text" id="name" name="title">
            </div>
    
            <div class="campo">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" step="0.01">
            </div>
    
            <div class="campo">
                <label for="description">Descripción:</label>
                <textarea id="description" name="descripcion" rows="4"></textarea>
            </div>
    
            <div class="campo">
                <label for="image">Imagen:</label>
                <input type="file" id="image" name="img" accept="image/*" class="input-img">
            </div>

            <div class="campo">
                <label for="image">Descuento:</label>
                <input type="text" id="image" name="descuont" class="input-img">
            </div>
    
            <div class="botones">
                <input class="btn-cancelar" type="submit" value="Cancelar">
                <input class="btn-guardar" type="submit" value="Guardar">
            </div>
        </form>
    
    </div>
    

    <%- include('./partials/footer.ejs')%>  
</body>
</html>