<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear Cuenta </title>
    <link rel="stylesheet"  href="/css/register.css">
    <link href="/css/header-footer.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,100;0,400;1,500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!--div class="redes">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div-->
        <div class="nav-bar">
                <img src="/img/logo-sin-fondo-prueba.png" alt="Logo" class="logo">
        </div>
        <div class="nav-bar">
            <ul class="enlaces">
                <li><a href=  "/"   >Home</a></li>
                <li><a href='/productos/catalogo' >Productos</a></li>
                <li><a href='/productos/carrito'  >Carrito de Compras</a></li>
                <li><a href='/usuarios/register'  >Registrarse</a></li>
                <li><a href='/contact'  >Contacto</a></li>
                <!--li><a href='/sobre-nosotros'  >Sobre Mi</a></li-->
             </ul>
        </div>       
   </header>
    <form class="form-register">
        <h4>Registrate en Hebra Libre</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellido">
        <input class="controls" type="email" name="email" id="email" placeholder="Email">
        <input class="controls" type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña">
        <input class="controls" type="password" name="confirmar_contrasenia" id="confirmar_contrasenia" placeholder="Confirmar contraseña"><br>
        <input class="botom" type="submit" value="Crear Cuenta">
        <p>¿Tienes una cuenta? <a href="/usuarios/login">Iniciar sesión</a></p>
    </form>
    <footer>
        <!--img src="./img/Hebra_Libre_footer.jpg" id="footer"-->
        <h5>© Copyright todos los derechos reservados</h6>
    </footer>
</body>
</html>