
<header>
    <div class="media">
        <div class="redes">
            <a href="https://www.instagram.com/hebralibre/" target="_blank"><i class="fab fa-instagram"></i></a>
            <!--a href="#"><i class="fab fa-pinterest"></i></a-->
            <a href="https://www.facebook.com/soyhebralibre" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://wa.me/+5493884175520" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="nav-bar">
                <a href="/"><img src="/img/logo-sin-fondo-prueba.png" alt="Logo" class="logo"></a>
        </div>
        <div class="nav-bar">
            <div class="burger-menu">
                <a href="#" target="_blank"><i class="fas fa-bars"></i></a>
            </div>
            <ul class="enlaces">
                <li><a href=  "/"   >Home</a></li>
                <li><a href='/productos/catalogo' >Productos</a></li>
                <li><a href='/productos/carrito'  >Carrito de Compras</a></li>
                <li><a href='/usuarios/register'  >Registrarse</a></li>
                <li><a href='/contact'  >Contacto</a></li>
                <!--li><a href='/sobre-nosotros'  >Sobre Mi</a></li-->
            </ul>
        </div>
    </div>       
</header>



