<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Hebralibre</title>
</head>
<body>
    <h1>Nuestros Productos</h1>

    <div class="producto">
      <img class="producto-imagen" src="ruta_de_imagen_producto_1.jpg" alt="Producto 1">
      <p>Descripción del Producto 1</p>
    </div>
  
    <div class="producto">
      <img class="producto-imagen" src="ruta_de_imagen_producto_2.jpg" alt="Producto 2">
      <p>Descripción del Producto 2</p>
    </div>
  
    <div class="producto">
      <img class="producto-imagen" src="ruta_de_imagen_producto_3.jpg" alt="Producto 3">
      <p>Descripción del Producto 3</p>
    </div>
  
</body>
</html>